@import "tailwindcss";

@theme {

 --color-bg-light: #f3f4f6; 
  --color-bg-dark: #111827;
  --color-primary-text: #1f2937;

  --color-accent: #8b5cf6;       
  --color-accent-hover: #7c3aed;
}

:root {
  color-scheme: light dark;
}
